@charset "utf-8";
/* CSS Document */
/*头部样式*/
body{
	padding:0;
	margin:0;
	}
	
	ul,li{
		padding:0;
	margin:0;
		
		}
.content{
	width:100%;
	mini-width:1000px;
	
	margin:0 auto;
	}
.header{
	width:1000px;
	height:100px;
	background:#E1E1E1;
	margin:0 auto;
	}
.header img{
	float:left;
	}
.quickLink{

	width:30%;
	height:50px;
	float:right;
	text-align:center;
	margin-top:32px;
	}	
.quickLink a{
	color:#5F69E7;
	text-decoration:none;
	display:inline-block;
	width:60px;
	height:36px;
	font-size:12px;
	line-height:36px;
	border:1px #5F69E7 solid;
	
	}
.quickLink a:hover{
	box-shadow: 0 0 10px #A3D2E0;
	}
	/*导航的样式*/
	.nav{
	width:100%;
	background:#3d85c6;	
	height:60px;
		}
	.nav ul a li{
		
			float:left;
			list-style:none;
			width:100px;
	        height:60px;
			line-height:60px;
			text-align:center;
			color:#FFFFFF;
			font-family:"微软雅黑Light","微软雅黑"
			}
	.nav ul {
				margin:0 0 0 300px;
				}
	.nav ul a li:hover{
			background:#06C;
			transition:2s;		
					}
	.banner{
		width:100%;
	    background: url("../img/banner1.jpg") no-repeat;	
		background-size:100%;
		}
	.swiper-container{
		width:100%;
	    
		}