@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	}
.content{
	width:1000px;
	mini-width:1000px;
	background:pink;
	margin:0 auto;
	}
.header{
	width:100%;
	height:100px;
	background:#E1E1E1;
	}
.header img{
	float:left;
	}
.quickLink{

	width:30%;
	height:100px;
	float:right;
	text-align:center;
	margin-top:32px;
	}	
.quickLink a{
	color:#5F69E7;
	text-decoration:none;
	display:inline-block;
	width:60px;
	height:36px;
	font-size:12px;
	line-height:36px;
	border:1px #5F69E7 solid;
	
	}
.quickLink a:hover{
	box-shadow: 0 0 10px #A3D2E0;
	}